<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
      http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean class = "com.epam.jiranotificator.configuration.postprocessor.PasswordEncodeAnnotationBeanPostProcessor"/>

    <context:property-placeholder location="classpath:jira.properties" />

    <context:component-scan base-package="com.epam.jiranotificator.service" />
    <context:component-scan base-package="com.epam.jiranotificator.controller" />
    <context:component-scan base-package="com.epam.jiranotificator.configuration" />

    <aop:aspectj-autoproxy />

    <bean id = "jiraService" class="com.epam.jiranotificator.service.impl.JiraService">
        <constructor-arg name="login" value="${jira.login}" />
        <constructor-arg name="password" value="${jira.password}" />
        <constructor-arg name="url" value="${jira.url}" />
        <constructor-arg name="query" value="${jira.query}" />
    </bean>

    <bean id = "jiraRestClientFactory" class = "com.atlassian.jira.rest.client.internal.async.AsynchronousJiraRestClientFactory" />

    <bean id = "issueCacheService" class="com.epam.jiranotificator.service.impl.IssueCacheService">
        <constructor-arg name="duration" value="${cache.duration}" />
        <constructor-arg name="unit" type="java.util.concurrent.TimeUnit" value="${cache.timeUnit}"/>
        <constructor-arg name="size" value="${cache.size}" />
    </bean>

    <bean id = "httpClient" class="org.apache.http.impl.client.DefaultHttpClient"/>

    <bean id = "gcmNotificationSender" class="com.epam.jiranotificator.service.impl.GCMNotificationSender">
        <constructor-arg name="host" value="${gcm.host}"/>
        <constructor-arg name="contentType" value="${gcm.content_type}" />
        <constructor-arg name="xPushbotsAppid" value="${gcm.x_pushbots_appid}" />
        <constructor-arg name="xPushbotsSecret" value="${gcm.x_pushbots_secret}" />
    </bean>

    <bean id= "routingJiraIssueService" class="com.epam.jiranotificator.service.impl.RoutingJiraIssueService">
        <constructor-arg name="status" value="${status}"/>
    </bean>
    
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="smtp.gmail.com" />
		<property name="port" value="587" />
		<property name="username" value="${jira.alert.emailLogin}"/>
		<property name="password" value="${jira.alert.emailPassword}" />
	 
		<property name="javaMailProperties">
		   <props>
		   		  <prop key="mail.transport.protocol">smtp</prop>
	       	      <prop key="mail.smtp.auth">true</prop>
	       	      <prop key="mail.smtp.starttls.enable">true</prop>
	       	   </props>
		</property>
	</bean>
	
    <bean id = "emailSender" class="com.epam.jiranotificator.service.impl.EmailSender">
		<property name="mailSender" ref="mailSender" />
        <property name="emailFrom" value="${jira.alert.emailFrom}" />
        <property name="emailsTo" value="${jira.alert.emailsTo}" />
    </bean>

</beans>