<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <bean class = "com.epam.jiranotificator.configuration.postprocessor.PasswordEncodeAnnotationBeanPostProcessor"/>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="properties" value="#{T(com.epam.jiranotificator.configuration.context.ApplicationProperties).get()}" />
    </bean>

    <context:component-scan base-package="com.epam.jiranotificator.service" />
    <context:component-scan base-package="com.epam.jiranotificator.controller" />
    <context:component-scan base-package="com.epam.jiranotificator.configuration" />
    <context:component-scan base-package="com.epam.jiranotificator.configuration.security"/>

    <aop:aspectj-autoproxy />


    <bean id = "jiraService" class="com.epam.jiranotificator.service.impl.JiraService">
        <constructor-arg name="login" value="${JIRA_LOGIN}" />
        <constructor-arg name="password" value="${JIRA_PASSWORD}" />
        <constructor-arg name="url" value="${JIRA_URL}" />
        <constructor-arg name="query" value="${JIRA_QUERY}" />
    </bean>

    <bean id = "jiraRestClientFactory" class = "com.atlassian.jira.rest.client.internal.async.AsynchronousJiraRestClientFactory" />

    <bean id = "issueCacheService" class="com.epam.jiranotificator.service.impl.IssueCacheService">
        <constructor-arg name="duration" value="${CACHE_DURATION}" />
        <constructor-arg name="unit" type="java.util.concurrent.TimeUnit" value="${CACHE_TIMEUNIT}"/>
        <constructor-arg name="size" value="${CACHE_SIZE}" />
    </bean>

    <bean id = "emailCacheService" class="com.epam.jiranotificator.service.impl.EmailCacheService">
        <constructor-arg name="duration" value="${CACHE_EMAIL_DURATION}" />
        <constructor-arg name="unit" type="java.util.concurrent.TimeUnit" value="${CACHE_EMAIL_TIMEUNIT}"/>
        <constructor-arg name="size" value="${CACHE_EMAIL_SIZE}" />
    </bean>

    <bean id = "httpClient" class="org.apache.http.impl.client.DefaultHttpClient"/>

    <bean id = "gcmNotificationSender" class="com.epam.jiranotificator.service.impl.GCMNotificationSender">
        <constructor-arg name="host" value="${GCM_HOST}"/>
        <constructor-arg name="contentType" value="${GCM_CONTENT_TYPE}" />
        <constructor-arg name="xPushbotsAppid" value="${GCM_X_PUSHBOTS_APPID}" />
        <constructor-arg name="xPushbotsSecret" value="${GCM_X_PUSHBOTS_SECRET}" />
    </bean>

    <bean id= "routingJiraIssueService" class="com.epam.jiranotificator.service.impl.RoutingJiraIssueService">
        <constructor-arg name="status" value="${STATUS}"/>
    </bean>
    
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="smtp.gmail.com" />
		<property name="port" value="587" />
		<property name="username" value="${EMAIL_LOGIN}"/>
		<property name="password" value="${EMAIL_PASSWORD}" />
	 
		<property name="javaMailProperties">
		   <props>
		   		  <prop key="mail.transport.protocol">smtp</prop>
	       	      <prop key="mail.smtp.auth">true</prop>
	       	      <prop key="mail.smtp.starttls.enable">true</prop>
	       	   </props>
		</property>
	</bean>
	
    <bean id = "emailSender" class="com.epam.jiranotificator.service.impl.EmailSender">
		<property name="mailSender" ref="mailSender" />
        <property name="emailFrom" value="${EMAIL_LOGIN}" />
        <property name="emailsTo" value="${EMAILS_TO}" />
    </bean>

</beans>